/* WeightLossPage.css */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500&display=swap');

.font-lora {
    font-family: 'Lora', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}

.text-theme-dark {
    color: rgb(40, 67, 111);
}

.text-theme-blue {
    color: rgb(0, 119, 181);
}

.btn-theme {
    background-color: #2B4C9A;
    color: white;
}

.bg-theme-light {
    background-color: #d0e8ec;
}

.section-padding {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* Custom Scrollbar for horizontal scrolling if needed */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}